:root {
  --md-primary-fg-color:        #ce0f69;
  --md-primary-fg-color--light: var(--md-primary-fg-color);
  --md-primary-fg-color--dark:  var(--md-primary-fg-color);

  --md-accent-fg-color:        #e72887;
  --md-accent-fg-color--light: var(--md-accent-fg-color);
  --md-accent-fg-color--dark:  var(--md-accent-fg-color);
}

.md-header{
    background-color: #fff;
    color: #667790;
}

.md-grid {
  max-width: 95%;
}
